#grid-container {
    margin: 20px; 
    display: grid;
    width: 960px;
    height: 960px;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: auto;
    text-align: center;
  }



